.example-form {
  min-width: 150px;
  max-width: 500px;
  padding: 2em 4em;

}

.example-full-width {
  width: 100%;
}

.body{
  margin: 4em 20em ;
  width:38em ;
  height: 19em;
  background-color: #e8e8e8;
  border-radius: 2em ;
}
button{
  margin: 2em 0em 0em 1em;
}
